side-bar-bg-color = #fafafa

font = "Clear Sans",sans-serif
code_font = "JetBrains Mono", "Roboto Mono", Menlo, monospace !important

main_color = #000000
back_color = #FFFFFF
strong_color = #8ac926

snipped_border = 1px solid #e7eaed
fences_background = #f8f8f8
fences_border = 0px solid #e7eaed

code_background = #FFF5D6
code_color = #000000

link_color = #1982c4
@import "_link_dotted.styl"

h2_color = #6a4c93
h_color = #6a4c93

h1_underscore = 1px solid #6a4c93

@import "desktop.styl"
@import "demas_core.styl"

