font = "Clear Sans",sans-serif
code_font = "JetBrains Mono", "Roboto Mono", Menlo, monospace !important

main_color = #f1f1f1
back_color = #31373b
link_color = #8AC926
strong_color = #9278BA

code_background = #41444b
code_color = #FFCA3A
snipped_border = 0px solid #e7eaed
fences_background = #2a2a2b
fences_border = 1px solid #3d4047

link_decoration = none
@import "_link_dotted.styl"

h1_color = #9278BA
h2_color = #FF595E
h3_color = #FFCA3A
h_color = #9278BA

h1_underscore = 1px solid h1_color

side-bar-bg-color = back_color
side-bar-fg-color = main_color


@import 'night/codeblock.dark.css';
@import 'night/mermaid.dark.css';
@import 'night/sourcemode.dark.css';
@import "desktop.styl"
@import "demas_core.styl"
