side-bar-bg-color = #44475a

font = "Clear Sans",sans-serif
code_font = "JetBrains Mono", "Roboto Mono", Menlo, monospace
main_color = #f8f8f2
back_color = #282a36
link_color = #d99178
strong_color = #8fa1ee

code_background = #41444b
code_color = #d99178
snipped_border = 0px solid #e7eaed
fences_background = #1d1d26
fences_border = 1px solid #3d4047

link_decoration = none
h2_color = #DEDEDE
h3_color = #DEDEDE
h1_color = #DEDEDE
h_color = #DEDEDE

h1_underscore = 1px solid #45493d

@import 'night/codeblock.dark.css';
@import 'night/mermaid.dark.css';
@import 'night/sourcemode.dark.css';
@import "desktop.styl"
@import "demas_core.styl"
