foreground-color = #f4f3ee
side-bar-bg-color = foreground-color

font = "Clear Sans",sans-serif
code_font = "JetBrains Mono", "Roboto Mono", Menlo, monospace !important

main_color = #000000
back_color = foreground-color
strong_color = #CD7D65

snipped_border = 1px solid #e7eaed
fences_background = #f8f8f8
fences_border = 0px solid #e7eaed

code_background = #ECEBE9
code_color = #463f3a

link_color = #CD7D65
@import "_link_dotted.styl"

h1_color = #463f3a
h2_color = #463f3a
h3_color = #8a817c
h_color = #8a817c

h1_underscore = 1px solid h1_color

side-bar-bg-color = back_color
side-bar-fg-color = main_color

@import "desktop.styl"
@import "demas_core.styl"

