side-bar-bg-color = #fafafa

font = "Clear Sans",sans-serif
code_font = "JetBrains Mono", "Roboto Mono", Menlo, monospace
font_size = 16px
line_height = 1.6
main_color = #656565
back_color = #f2f3f5
link_color = #008abc
strong_color = #008abc

snipped_border = 1px solid #e7eaed
fences_background = #f8f8f8
fences_border = 0px solid #e7eaed

code_background = #dce8ef
code_color = #316085

link_decoration = none
h2_color = #585859
h_color = #5e676d

@import "demas_core.styl"
