side-bar-bg-color = #fafafa

font = "Clear Sans",sans-serif
code_font = "JetBrains Mono", "Roboto Mono", Menlo, monospace

main_color = #f1f1f1
back_color = #2a2a2b
link_color = #b5b9ad
strong_color = #c9af53

code_background = #41444b
code_color = #eff4a4
snipped_border = 0px solid #e7eaed
fences_background = #2a2a2b
fences_border = 1px solid #3d4047

link_decoration = none
h2_color = #c9af53
h3_color = #c9af53
h1_color = #c9af53
h_color = #2a2a2b

h1_underscore = 1px solid #45493d

@import 'night/codeblock.dark.css';
@import 'night/mermaid.dark.css';
@import 'night/sourcemode.dark.css';
@import "desktop.styl"
@import "demas_core.styl"
