side-bar-bg-color = #fafafa

font = "Clear Sans",sans-serif
code_font = "JetBrains Mono", "Roboto Mono", Menlo, monospace
font_size = 16px
line_height = 1.6
main_color = #f1f1f1
back_color = #2a2a2b
link_color = #3ae1e0
strong_color = #f3d956

code_background = #4d5057
code_color = #eff4a4
snipped_border = 0px solid #e7eaed
fences_background = #848485
fences_border = 1px solid #4d5057

link_decoration = none
h2_color = #f3d956
h1_color = #f3d956
h_color = #2a2a2b

@import "demas_core.styl"
